.note-key {
  float: left;
  width: 50px;
  height: 200px;
  border: 1px solid grey;
  background-color: white;
  transition: background-color 0.25s;
  color: blue;
}

.note-key:nth-child(even) {
    background-color: black;
    height: 150px;
}

.note-key:nth-child(6) {
    background-color: white;
    height: 200px;

}


.note-key.pressed {
  background-color: lightgray;
}

.play-button.disabled {
  display: none;
}

.jukebox {
  width: 500px;
}

.keys {
  clear: both;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
